<h1>Najnowsze produkty</h1>

<!-- Renderujemy partiala z listą produktów -->
<!-- Do partiala przekazujemy nasza zmienną product o wartości od 1 do 9 -->

<%= render partial: 'products', locals: {products: (1..9) } %>


